
@{
    ViewBag.Title = "Change_Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header" style="margin-top: -10px; margin-left: -10px;">
    <h2> Change Password</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index","Login")">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Change Password</span></li>
        </ol>
        <a class="sidebar-right-toggle"></a>
    </div>
</header>
<div class="panel-body">
    <form class="form-horizontal form-bordered" action="@Url.Action("CheckPwd","Login")" id="myform" method="post">
        <div class="form-group">
            <label class="col-md-3 control-label" for="OldPassword">Old Password</label>
            <div class="col-md-6">
                <input type="password" class="form-control" id="OldPassword" name="Oldpassword">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label" for="Password">New Password</label>
            <div class="col-md-6">
                <input class="form-control" id="Password" name="Password" type="password">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label" for="ConfirmPassword"> Confirm Password</label>
            <div class="col-md-6">
                <input type="password" id="ConfirmPassword" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-6" style="text-align:right;">
                <button class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </div>
        </div>
    </form>
    <script src="~/assets/javascripts/swal.js"></script>
    <script src="~/assets/javascripts/swal_alert.js"></script>
    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
        $(function () {
            swal({
                icon: "error",
                title: "@ViewBag.Message",
                showConfirmButton: false,
                timer: 4500
            })
        });
        </script>
    }
    @if (@ViewBag.SMessage != null)
    {
        <script type="text/javascript">
            $(function () {
            var url = '@Url.Action("Index", "Login")';
            swal({
                icon: "success",
                title: "@ViewBag.SMessage",
                showConfirmButton: true,
                confirmButtonText: "Cerrar",
                closeOnConfirm: false
            }).then(function (result) {
                window.location = url;
            })

        });
        </script>
    }
    <script type="text/javascript">
        $('#myform').submit(function () {
            $(this).find(':submit').attr('disabled', 'disabled');
        });
    </script>
</div>


