@model IEnumerable<MaterialGateRegister.Models.permission>
@{
    ViewBag.Title = "Permission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header" style="margin-top: -9px;margin-left: -11px;">
    <h2>Role Permission Master</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Dashboard", "Login")">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Permission</span></li>
        </ol>
        <a class="sidebar-right-toggle"></a>
    </div>
</header>
<div class="row"> 

    <div class="col-lg-12 col-md-12">
        @if (Session["SettingsView_form"].ToString() == "1")
        {
            <header class="panel-heading panel-heading-transparent">
                <div class="panel-actions">
                </div>
                <h2 class="panel-title"> Role Permission </h2>
            </header>

            <div class="panel-body">
                <div class="form-group" style="margin-left:20px">
                    <label class="col-sm-2 control-label"> <b>Role </b><span class="required"></span></label>
                    <div class="col-sm-6">
                        <select id="Role_id" class="form-control" name="Role_id" required onchange="getvalue()">
                            <option>Please Select</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="panel-body">
                                <table id="permission_details" class="table table-bordered table-striped mb-none" style="width:500px;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"> S.No </th>
                                            <th> Module Name </th>
                                            <th> View </th>
                                            <th> Edit </th>
                                            <th> Add </th>
                                            <th> Delete </th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td style="text-align:center;">1</td>
                                        <td>
                                            <label class="form-inline">Settings</label>
                                            <input type="hidden" name="Module_name" id="Module_name" value="Settings" />
                                        </td>
                                        <td><input type="checkbox" class="Set" value="1" name="View_form" id="View_form" /></td>
                                        <td><input type="checkbox" class="Set" value="1" name="Edit_form" id="Edit_form" /></td>
                                        <td><input type="checkbox" class="Set" value="1" name="Add_form" id="Add_form" /></td>
                                        <td><input type="checkbox" class="Set" value="1" name="Delete_form" id="Delete_form" /></td>
                                        <td><input type="checkbox" class="Set" value="1" name="" id="Selectall" /></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center;">2</td>
                                        <td>
                                            <label class="form-inline">MaterialEntries</label>
                                            <input type="hidden" name="Module_name" id="Module_name" value="MaterialEntries" />
                                        </td>
                                        <td><input type="checkbox" class="Entry" value="1" name="View_form" id="View_form" /></td>
                                        <td><input type="checkbox" class="Entry" value="1" name="Edit_form" id="Edit_form" /></td>
                                        <td><input type="checkbox" class="Entry" value="1" name="Add_form" id="Add_form" /></td>
                                        <td><input type="checkbox" class="Entry" value="1" name="Delete_form" id="Delete_form" /></td>
                                        <td><input type="checkbox" class="Entry" value="1" name="" id="SelectallEntry" /></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center;">3</td>
                                        <td>
                                            <label class="form-inline">MaterialRegisters</label>
                                            <input type="hidden" name="Module_name" id="Module_name" value="MaterialRegisters" />
                                        </td>
                                        <td><input type="checkbox" class="Register" value="1" name="View_form" id="View_form" /></td>
                                        <td><input type="checkbox" class="Register" value="1" name="Edit_form" id="Edit_form" /></td>
                                        <td><input type="checkbox" class="Register" value="1" name="Add_form" id="Add_form" /></td>
                                        <td><input type="checkbox" class="Register" value="1" name="Delete_form" id="Delete_form" /></td>
                                        <td><input type="checkbox" class="Register" value="1" name="" id="SelectallRegister" /></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center;">4</td>
                                        <td>
                                            <label class="form-inline">PendingRegisters</label>
                                            <input type="hidden" name="Module_name" id="Module_name" value="PendingRegisters" />
                                        </td>
                                        <td><input type="checkbox" class="Pending" value="1" name="View_form" id="View_form" /></td>
                                        <td><input type="checkbox" class="Pending" value="1" name="Edit_form" id="Edit_form" /></td>
                                        <td><input type="checkbox" class="Pending" value="1" name="Add_form" id="Add_form" /></td>
                                        <td><input type="checkbox" class="Pending" value="1" name="Delete_form" id="Delete_form" /></td>
                                        <td><input type="checkbox" class="Pending" value="1" name="Select-all" id="SelectallPending" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 col-sm-offset-3" style="text-align:center; margin-left:0px!important">
                        <button type="button" class="btn btn-primary submit">Submit</button>
                        <button type="reset" id="cancel" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        }
    </div>
    @*</form>*@
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/assets/javascripts/swal.js"></script>
<script src="~/assets/javascripts/swal_alert.js"></script>
<script type="text/javascript">
    $(function () {
    var url1 = '@Url.Action("getRoles","Login")';
        $.ajax({
            type: "POST",
            url: url1,
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var s = '<option value="">Please Select</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].id + '">' + data[i].Userrole + '</option>';
                }
                $("#Role_id").html(s);
            }
        });

    });
    $("#cancel").click(function () {
        var url = '@Url.Action("Dashboard","Login")';
        window.location = url;
    });
         function getvalue()
    {
        var id = $('#Role_id').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("getuserroles", "Login")',
            data: '{id: ' + id + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response)
            {
                $("#permission_details TBODY TR").each(function ()
                {
                    var row = $(this);
                    row.find("#Add_form").prop("checked", false);
                    row.find("#View_form").prop("checked", false);
                    row.find("#Edit_form").prop("checked", false);
                    row.find("#Delete_form").prop("checked", false);
                });

                if (response.length != '0')
                {
                    $('.submit').text('Update');
                }
                else
                {
                    $('.submit').text('Submit');
                }
                for (var i = 0; i < response.length; i++)
                {
                    $("#permission_details TBODY TR").each(function () {
                        var row = $(this);
                        var permissions = {};
                        var Module_name = row.find("#Module_name").val();
                        permissions.Role_id = $('#Role_id').val();
                        if (Module_name == response[i].Module_name)
                        {
                            if (response[i].Add_form == "1") {
                                row.find("#Add_form").prop("checked", true);
                            }
                            else {
                                row.find("#Add_form").prop("checked", false);
                            }
                            if (response[i].View_form == "1") {
                                row.find("#View_form").prop("checked", true);
                            }
                            else {
                                row.find("#View_form").prop("checked", false);
                            }
                            if (response[i].Edit_form == "1") {
                                row.find("#Edit_form").prop("checked", true);
                            }
                            else {
                                row.find("#Edit_form").prop("checked", false);
                            }
                            if (response[i].Delete_form == "1") {
                                row.find("#Delete_form").prop("checked", true);
                            }
                            else {
                                row.find("#Delete_form").prop("checked", false);
                            }
                        }
                    });
                }
            }
        });
    }
    $('#Selectall').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $('.Set').each(function () {
                this.checked = true;
            });
        } else {
            $('.Set').each(function () {
                this.checked = false;
            });
        }
    });
    $('#SelectallEntry').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $('.Entry').each(function () {
                this.checked = true;
            });
        } else {
            $('.Entry').each(function () {
                this.checked = false;
            });
        }
    });
    $('#SelectallRegister').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $('.Register').each(function () {
                this.checked = true;
            });
        } else {
            $('.Register').each(function () {
                this.checked = false;
            });
        }
    });
    $('#SelectallPending').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $('.Pending').each(function () {
                this.checked = true;
            });
        } else {
            $('.Pending').each(function () {
                this.checked = false;
            });
        }
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".submit").click(function (event)
        {
            var Role = $('#Role_id').val();
            if (Role == "") {
                alert("Please Select Role");
                return false;
            }
            var permission = new Array();
            $("#permission_details TBODY TR").each(function () {
                var row = $(this);
                var permissions = {};
                permissions.Module_name = row.find("#Module_name").val();
                permissions.Role_id = $('#Role_id').val();
                if (row.find("#Add_form").is(":checked")) {
                    permissions.Add_form = '1';
                }
                else {
                    permissions.Add_form = '0';
                }

                if (row.find("#View_form").is(":checked")) {
                    permissions.View_form = '1';
                }
                else {
                    permissions.View_form = '0';
                }

                if (row.find("#Edit_form").is(":checked")) {
                    permissions.Edit_form = '1';
                }
                else {
                    permissions.Edit_form = '0';
                }

                if (row.find("#Delete_form").is(":checked")) {
                    permissions.Delete_form = '1';
                }
                else {
                    permissions.Delete_form = '0';
                }
                permission.push(permissions);
            });

            $.ajax({
                type: "POST",
                url: "/Login/AddUserrole",
                data: JSON.stringify(permission),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response)
                {
                    if ($('.submit').text() == "Update") {
                        swal({
                            icon: "success",
                            title: "Details Updated Successfully...!",
                            button: true,
                            timer: 4500
                        }).then(function (result) {
                            window.location = '@Url.Action("Permission","Login")';
                        })
                    }
                    else if ($('.submit').text() == "Submit") {
                        swal({
                            icon: "success",
                            title: "Details Added Successfully...!",
                            button: true,
                            timer: 4500
                        }).then(function (result) {
                            window.location = '@Url.Action("Permission","Login")';
                        })
                    }
                }
            });

        });
    });
</script>
